:root {
    --basic-red: #ee3643;
    --basic-blue-dark: #293449;
    --basic-blue-light: #32425C;
    --basic-white: #ffffff;
    --basic-order: #63A63E;
    --hover-order: #5FBB2D;
    --basic-header: #F1F5F7;
    --basic-dark: #000000;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-pinklight: #F9F5F0;
    --gold: #FFD180;
    --social-background: #212A3A;
    --light-white: #F1F5F7;
    --price-secondary: #A9A9A9;
    --lightgray: #EAEAEA; 
    --nav-hover: #293449;
    --hover-red: #CA2C37;
    
  }

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
}

/* Reset default css styles*/
.visually-hidden:not(:focus):not(:active){
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul{

    margin: 0; /* top end bottom 1em */
    padding: 0; /* padding left 40px*/
}
li{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
}
figure{
    margin: 0;
}
.none{
    display: none;
}
.page{
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
}
.button{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}
.button:hover{
    background-color: var(--hover-red);
}

.wrapper{
    width: 940px;
    margin: 0 auto;
}

.page-header{
    padding-bottom: 60px;
    background-color: var(--basic-header);
}
.header-top-section{
    background-color: var(--basic-blue-dark);
    color: var(--basic-white);
}
.page-header__middle-section{
    margin-bottom: 40px;
}
.header-top-section__inner{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 220px;
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: var(--basic-red);
    text-align: center;
    color: var(--basic-white);
    box-shadow: 0 5px 0px #b52933;
}



/* Search form */

.search-form{
    width: 270px;
    position: relative;
}

.search-form__img-container{
    position: absolute;
    top: 12px;
    left: 17px;
} 

.search-form__field{
    width: 100%;
    height: 42px;
    padding-left: 42px;
    background-color: inherit;
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  
}

.search-form:hover path{
    fill: white;
}

.search-form__field:active{
    border: none;
}

.search-form__field::placeholder{
    color: #ffffff;
}



/* User navigation */

.user-navigation{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user-navigation-item{
    width: 150px;
    text-align: center;
}

.user-navigation__link{
    position: relative;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 43px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.user-navigation-link--bookmark::before{
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 16px;
    top: 13px;
    left: 20px;
    opacity: 0.3;
    background: url(../img/icons/icon-bookmark.svg) no-repeat center;
    
}

.user-navigation-link--cart::before{
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 13px;
    left: 27px;
    opacity: 0.3;
    background: url(../img/icons/icon-cart.svg) no-repeat center;
    
}

.user-navigation-link:hover::before{
    opacity: 1;
}

.icon-container--bookmark img{
    width: 100%;
    height: auto;
}

.notification-badge{
    display: flex;
    align-items: center;
    padding: 9px 20px;
}

.user-navigation-item__caption{
    margin-right: 9px;
}

.button--ordering{
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    color: var(--basic-white);
    background-color: var(--basic-order);
}

.button--ordering:hover{
    background-color: var(--hover-order);
}

.page-header__middle-section{
    display: flex;
    justify-content: flex-end;
    gap: 69px;
    flex-wrap: wrap;
    padding-top: 46px;
}
.header-bottom-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-header__title{
    width: 220px;
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}
.contacts__phone{
    position: relative;
    display: block;
    margin-bottom: 3px;
    /* width: 245px; */
    padding-right: 50px;
    padding-left: 65px;
    padding-top: 6px;
    padding-bottom: 3px;
    text-align: center;
    border: 3px solid var(--basic-white);
}
.contacts__caption{

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.contacts__caption::before{
    content: '';
    position: absolute;
    left: 33px;
    top: 10px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../img/icons/icon-phone.svg) no-repeat center center;
}

.contacts__address{
    margin: 0;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.account{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.button--log{
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--basic-white);
}
.account__button-log{
    position: relative;
    padding-right: 27px;
    padding-left: 45px;
}
.account__img-container{
    position: absolute;
    top: 14px;
    left: 18px;
}
.account__caption{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-dark);
    background-color: var(--basic-white);
}
.account__caption:hover{
    color: var(--basic-red);
}


.main-navigation{
    background-color: var(--basic-blue-light);
}
.main-navigation__list{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.main-navigation__item{
    flex-grow: 1;
}
.main-navigation__link{
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Cuprum";
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}
.main-navigation__link:hover{
    background-color: var(--nav-hover);
}

/* Promo section */

.promo{
    padding-top: 48px;
    padding-bottom: 70px;
}

.promo__content{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-list{
    display: flex;
    justify-content: space-between;  
    column-gap: 20px;
}
.promo__list{
    margin-bottom: 20px;
}
.catalog-list__item{
    
}

.promo-card{
    
    position: relative;
    width: 300px;
    min-height: 123px;
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: var(--basic-white);
}

.promo-card__title{
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.promo-card__img{
    position: absolute;
}

.icon--materials{
    width: 44px;
    height: 65px;
    top: 31px;
    right: 43px;
}

.icon--instruments{
    width: 75px;
    height: 61px;
    top: 34px;
    right: 31px;
}

.icon--technic{
    width: 78px;
    height: 62px;
    top: 31px;
    right: 31px;
}

.promo-card--background-yellow{
    background-color: var(--special-yellow);
}
.promo-card--background-blue{
    background-color: var(--special-blue);
}
.promo-card--background-lilac{
    background-color: var(--special-lilac);
}
.promo-card--background-greenlight{
    background-color: var(--special-greenlight);
}

.promo__slider{
    position: relative;
}
.promo__additional{

    flex-direction: column;
    display: flex;
    justify-content: space-between;

}

.button--promo{
    padding: 10px 0px;
    width: 135px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.5);
}
.button--promo:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.catalog-slide__img-container{

    width: 620px;
    height: 266px;
    position: relative;
}
.catalog-slide__img-description{
    position: absolute;
}
.catalog-slide__title{
    position: absolute;
    top: 24px;
    left: 24px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.catalog-slide__subtitle{
    margin: 0;
    position: absolute;
    top: 65px;
    left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.slider__pagination-btn{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--basic-red);
}

.catalog-slider__slide{
    display: none;
}
.catalog-slider__slide--active{
    display: block;
}

.slider__pagination{
    text-align: center;
    bottom: 36px;
    position: absolute;
    left: 48%;
}

.catalog-slider__btn{
    position: absolute;
    width: 22px;
    height: 40px;
    background: none;
    border: none
}
.catalog-slider__btn--prev{
    top: 122px;
    left: 24px;
    background: url('/img/icons/icon-left.svg') no-repeat center center;
    background-size: contain;
}
.catalog-slider__btn--next{
    top: 122px;
    right: 19px;
    background: url('/img/icons/icon-right.svg') no-repeat center center;
    background-size: contain;
}
.slider__link{
    width: 192px;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    position: absolute;
    bottom: 27px;
    left: 24px;
}

.icon--cart-2{
    width: 59px;
    height: 72px;
    bottom: 25px;
    right: 45px;
}

.icon--car{
    width: 78px;
    height: 63px;
    bottom: 28px;
    right: 31px;
}
/* Popular product section*/

.section-head{
    background-color: var(--special-pinklight);
}

.section-head__title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-blue-light);
}
.product-list{
    display: flex;
    gap: 20px;
}
.product-card{
    border: 1px solid var(--lightgray);
}
.product-card__title{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.product-card__price{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}
.product-card__price--old-price{
    color: var(--price-secondary);
}
.product-card__price--current-price{
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Brends */

.brends-list{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; */

    display: grid;
    grid-template-columns: repeat(4,220px);
    column-gap: 20px;
    row-gap: 20px;
}
.brend-card{
    width: 220px;
    text-align: center;
    border: 1px solid var(--lightgray);
}
.brend-card__img{
    
}


/* Services */

.services__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.services__description{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.service-block__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-blue-light);
}

.service-block__description{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}


/* About Us */

.about-us-column__title,
.contacts-column__title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us-column__description,
.contacts-column__description{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.pertners-list__item{
    font-size: 18px;
    line-height: 24px;
}

/* Footer */

.page-footer-top{
    background-color: var(--basic-blue-light);
}
.page-footer-bottom{
    background-color: var(--basic-blue-dark);
}
.footer-layout{
    display: flex;
    justify-content: space-between;
}
.social__link{
    background-color: var(--social-background);
}
.social__link:hover{
    background-color: var(--basic-red);
}
.footer-contacts__address,
.footer-contacts__phone{
    font-size: 18px;
    line-height: 24px;
    color: var(--light-white);
}
.footer-site-menu{
    display: flex;
    justify-content: flex-end;
}
.footer-site-menu__link{
    font-size: 18px;
    line-height: 24px;
    color: var(--light-white);
}
.footer-site-menu__link:hover{
    text-decoration: underline;
}
.footer-catalog-menu{
    display: flex;
    justify-content: flex-end;
}
.footer-catalog-menu__link{
    font-size: 18px;
    line-height: 24px;
    color: var(--gold);
}
.footer-catalog-menu__link:hover{
    text-decoration: underline;
}

.design-copyright__caption,
.feedback__caption{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.feedback__email,
.design-copyright__link{
    font-size: 16px;
    line-height: 18px;
    color: var(--gold);
}

.feedback__email:hover,
.design-copyright__link:hover{

    text-decoration: underline;
}

.page-footer__copyright{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}